[submodule "bundle/dracula-theme"]
	path = bundle/dracula-theme
	url = https://github.com/dracula/vim.git
[submodule "bundle/powerline.git"]
	path = bundle/powerline.git
	url = https://github.com/Lokaltog/vim-powerline.git
[submodule "bundle/bundle/powerline"]
	path = bundle/bundle/powerline
	url = https://github.com/Lokaltog/vim-powerline.git
[submodule "bundle/powerline"]
	path = bundle/powerline
	url = https://github.com/Lokaltog/vim-powerline.git
[submodule "bundle/fugitive.git"]
	path = bundle/fugitive.git
	url = https://github.com/tpope/vim-fugitive.git
[submodule "/home/artursil/.vim/bundle/nerdtree"]
	path = /home/artursil/.vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "/home/artursil/.vim/bundle/easymotion"]
	path = /home/artursil/.vim/bundle/easymotion
	url = https://github.com/easymotion/vim-easymotion.git
[submodule "/home/artursil/.vim/bundle/jedi-vim"]
	path = /home/artursil/.vim/bundle/jedi-vim
	url = https://github.com/davidhalter/jedi-vim.git
[submodule "bundle/vim-docstring"]
	path = bundle/vim-docstring
	url = https://github.com/yhat/vim-docstring.git
[submodule "bundle/pydocstring"]
	path = bundle/pydocstring
	url = https://github.com/heavenshell/vim-pydocstring.git
[submodule "bundle/vim-airline"]
	path = bundle/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "bundle/vim-airline-themes"]
	path = bundle/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes.git
[submodule "bundel/ctrlp"]
	path = bundel/ctrlp
	url = https://github.com/kien/ctrlp.vim.git
[submodule "bundle/ctrlp"]
	path = bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/vim-syntastic/syntastic.git
